/pkg/config.py
__pycache__/
*.py[cod]
*$py.class
.idea/
venv/
env/
ENV/
.venv/
.pipenv/
build/
dist/
*.egg-info/
.ipynb_checkpoints/
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.cache
pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
.pylint.d/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
*.log
.env
.env.*
